* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container,
.footer {
    float: left;
    width: 100%;
}

body {
    background-image: url(https://www.fju.edu.tw/showImg/focus/focus1684.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;

    font-family: STHeiti;
}

.header {
    background-color: rgba(41, 95, 148, 0.8);
    line-height: 75px;
    margin: 0 auto;
    padding-top: 10px;
}

.header div{
  display: inline-block;
  width: 450px;
}

.head {
    display: inline-block;
    padding-left: 20px;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
}

.nav {
    float: right;
}

.nav a {
    color: rgb(255, 255, 255);
    margin-left: 50px;
}

.content {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    background-color: rgba(41, 95, 148, 0.8);
    color: rgb(255, 255, 255);
    line-height: 25px;
    display: flex;
    justify-content: center;   
    align-items: center;   
}

