@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Serif TC", serif;
}
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 900 */

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}


body {
    background: url(/image/photo0.avif) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    /* 固定在top
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px; */
    /* background: rgba(41, 95, 148, 0.8); */
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    /* 原本
    line-height: 100px;
    padding-top: 20px; 
    margin: 0 auto;*/
}

.header h1 {
    /* color: rgb(255, 255, 255); */
    /* font-size: 40px; */
    font-weight: bold;
    font-size: 2.4em;
    user-select: none;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);

    /* 
    display: inline-block;
    padding-left: 20px; */

    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 850;
    font-style: normal;
}

.nav {
    width: 700x;
    justify-content: center;
    margin-left: 250px;
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    margin-left: 45px;
}

a {
    text-decoration: none;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav a:hover::after {
    transform: scaleX(1);
}

button {
    margin-left: 30px;
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.content {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper {
    backdrop-filter: blur(20px);
}

.footer {
    /* background-color: rgba(41, 95, 148, 0.8); */
    color: rgb(255, 255, 255);
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}