
body{
    background: url(照片.jpg)center no-repeat fixed;
    background-size:cover ;
    /* border: 1px solid black; */
    
    /*最外面往裡面推  */
    /* margin:50px 200px 50px 200px;  */
    margin:5%; 
} 
.bgcolor{
    background-color: rgba(255, 255, 255, 0.7)
}
.shadow{
    box-shadow:10px 10px 20px rgb(255, 187, 214)
}

.blackline{
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    /* 1.新增圓角 */
    border-radius: 30px;


} 
#money{
    text-align: center;

}

#title{
    text-align: center;
    font-weight: bold;
    /* 2.新增斜體 */
    font-style: italic;
    /* 3.新增底線 */
    text-decoration: underline;
    /* 4.新增字母間距 */
    letter-spacing: 3px;
    
}

#myTable th{
    text-align: center;
    /* 5.新增顏色 */
    color: rgb(123, 65, 109);
    /* 6.新增字體 */
    font-family: "新細明體";
    
}
#myTable {
    text-align: center;
    border: 1px solid black;




}
