h2,
p,
td {
    color: rgba(0, 0, 0, 0.6);
}

.doclink a {
    color: #5bc0de;
}

#a {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Serif TC", serif;
    /* background-color: black; */
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container img {
    margin-right: 10px;
}

.flex-container h2 {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.flex-container hr {
    height: 10vh;
    width: .1vw;
    border-width: 0;
    background-color:  rgba(0, 0, 0, 0.6);
    margin-right: 10px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a {
    margin-left: 10px;
}

#calendar {
    height: 400px;
    
}